.DS_Store
.ipynb_checkpoints/
*.pdf
!Installation and use.pdf
*.ipynb
test.py
__pycache__/
build
*.csv
!example.csv
dist
*.spec
test_input/
tmp.txt
*.egg-info/
*.png
*.txt
!requirements.txt
!params_file.txt
*.db
output/output*
.aws
